.place__paragraph {
  margin: 0;
  margin-top: 48px;
  grid-area: paragraph;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 280px;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .place__paragraph {
    margin-top: 32px;
    padding: 0 16px 0 16px;
  }
}
