.places {
  max-width: 984px;
  width: calc(100% - 48px*2);
  margin: 0 auto;
  padding-top: 92px;
}

@media screen and (max-width: 767px) {
  .places {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 540px) {
  .places {
    width: 100%;
  }
}


