.lead {
  padding-top: 56px;
  margin: 0 auto;
  max-width: 984px;
  width: calc(100% - 48px*2);
}

@media screen and (max-width: 1023px) {
  .lead {
    padding-top: 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    width: 100%;
  }
}
