.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1184px;;
  min-height: 740px;
  margin: 0 auto;
  margin-top: 92px;
  background: url('../../images/cover-trains.jpg') center center/cover no-repeat;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.cover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, .3);
}

.cover:hover::before {
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 90px;
    min-height: 480px;
  }
}

@media screen and (max-width: 540px) {
  .cover {
    margin-top: 66px;
    min-height: 200px;
  }
}
