.cover {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 90px;
    min-height: 480px;
  }
}

@media screen and (max-width: 540px) {
  .cover {
    margin-top: 66px;
    min-height: 200px;
  }
}
