.places__paragraph-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 26px;
}

.places__paragraph-text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .places__paragraph-text {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 610px) {
  .places__paragraph-text {
    text-align: left;
  }
}
