.footer {
  width: calc(100% - 48px*2);
  max-width: 1184px;
  min-height: 18px;
  padding: 92px 0px 24px 0px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 88px 0px 24px 0px;
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 610px) {
  .footer {
    padding: 64px 0px 24px 0px;
    width: calc(100% - 16px*2);
  }
}
